body {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

/*NAVBAR*/
.topnav {
  overflow: hidden;
  background-color: black;
  color: white;
  width: 100%;
}

.nav-logo {
  color: white;
  background-color: transparent;
  height: 20px;
  width: auto;
}

.topnav a {
  display: block;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*DROPDOWNS*/
.dropdown {
  float: left;
  overflow: hidden;
}

.logdropdown {
  float: right;
  overflow: hidden;
}

.dropdown .browsebtn,
.logdropdown .loginbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .browsebtn {
  background-color: red;
}

.dropdown-content,
.logdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,
.logdropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.logdropdown:hover .logdropdown-content {
  display: block;
}

/*SEARCH*/
.topnav .search-container {
  float: left;
  display: block;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

#subscribe-btn {
  float: right;
  padding: 8px;
  background-color: red;
  color: white;
  border-radius: 10%;
  margin-top: 8px;
}

/**MAIN**/
main {
  background-color: rgb(238, 238, 238);
}

/**BREADCRUMB**/
.breadcrumb-navigation {
  display: flex;
  margin-top: 0;
  padding: 10px 18px;
  background-color: rgb(238, 238, 238);
}

.breadcrumb-navigation > li {
  display: block;
}

.breadcrumb-navigation > li > a {
  color: #5a5a5a;
  text-decoration: none;
}

.breadcrumb-navigation > li > a:hover {
  color: #6fc302;
}

.breadcrumb-navigation li + li:before {
  padding: 4px;
  content: ">";
}

/**READINGZONE**/
.container-reading-zone {
  display: flex;
  flex-direction: row;
}

.reading-zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 10px;
  margin-right: auto;
  padding: 20px;
  max-width: 40%;
}

.Timpicture {
  max-width: 100%;
  max-height: auto;
}

.topic-header {
  display: block;
}

.topic-content {
  display: flex;
  flex-direction: row-reverse;
}

/**INFOCARD**/
.info-card {
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20pxs;
  padding: 20px;
  max-width: 100%;
}

.info-card-figure {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}
#info-card-media {
  color: #14599d;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.info-card-details {
  border-top: 1px solid #ddd;
}

.info-card-details button {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  align-items: center;
}

/**TEXT**/
.main-text {
  line-height: 1.6;
}
